* {
    margin: 0px;
    padding: 0px;
}



body {
    background: url(./assests/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100;
    display: flex;
}


.box {
    height: 100vh;
    /* overflow: clip; */
    padding: 10px;
    overflow: hidden;
}

.title {
    width: 90%;
    margin-top: -15px;
}

.tag {
    width: 80%;
}

.wheel {
    position: relative;
}

.wheel_img {
    width: 100%;
}

.retry_icon{
    width: 100%;
}



.spin_button {
    position: absolute;
    width: 75px;
    height: 75px;
    /* background: radial-gradient(50% 50% at 50% 50%, #6a0393 90%, #6a0393 91%, #f05cd9 95%, #f05cd9 100%); */
    background: linear-gradient(147deg, #63ddff 0%, #1359d6 100%);
    border: 4px solid #e6fffd;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.4));
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.hand {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-30deg);
    width: 60px;
    animation: hand 1s ease-in-out infinite forwards;
    z-index: 1;
}

@keyframes hand {

    0%,
    100% {
        top: 60%;
        left: 55%;
    }

    50% {
        top: 65%;
        left: 65%;
    }
}

.auto-rotate {
    animation: auto-rotate 60s linear infinite;
    transform: transition 60s linear;
    transform: rotate(360deg);
}

@keyframes auto-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(3600deg);
    }
}

.pointer {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) rotate(-180deg);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #1359d6;
    border-radius: 25px;
    filter: drop-shadow(1px -5px 1px rgba(0, 0, 0.5, 0.5));
}

.pointer-toggle {
    animation: pointer 0.1s linear infinite alternate;
}

@keyframes pointer {
    0% {
        transform: translateX(-50%) rotate(-180deg);
    }

    100% {
        transform: translateX(-50%) rotate(-220deg);
    }
}

.pointer .dot {
    position: absolute;
    top: 30px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #d9d9d9;
}

.made {
    width: 50%;
    margin-top: -15px;
}

.sentence {
    width: 100%;
    margin: 20px;
    color: white;
    font-weight: 600;
}

.icon img {
    width: 15%;
    margin-right: 10px;
}

.retry_popup {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.bottom {
    margin-top: -40px;
}

.retry img {
    width: 100%;
    height: 104%;
    background-size: contain;

}

.retry {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 0px 40px;
    border: 10px solid #fabc52;
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-horizontal 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-22 15:20:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-top {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(6deg);
        transform: translateX(-30px) rotate(6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(-6deg);
        transform: translateX(15px) rotate(-6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(3.6deg);
        transform: translateX(-15px) rotate(3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(-2.4deg);
        transform: translateX(9px) rotate(-2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(1.2deg);
        transform: translateX(-6px) rotate(1.2deg);
    }
}

@keyframes wobble-hor-top {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(6deg);
        transform: translateX(-30px) rotate(6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(-6deg);
        transform: translateX(15px) rotate(-6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(3.6deg);
        transform: translateX(-15px) rotate(3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(-2.4deg);
        transform: translateX(9px) rotate(-2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(1.2deg);
        transform: translateX(-6px) rotate(1.2deg);
    }
}



/* .retry::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 10px;
    margin: 10px; */
/* Border thickness */
/* border-radius: 10px;
    background: linear-gradient(90deg, #FDCA71 0%, #FDCA71 100%);
    -webkit-mask: linear-gradient(#f00000 0 0) content-box, linear-gradient(#ff0000 0 0);
    mask-composite: exclude;
    z-index: -1;
} */

.close {
    margin-left: 20px;
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-17 10:43:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}


.retry_icon img {
    width: 120%;
}

.retry_icon {
    border-radius: 50px;
    border: 1px solid black;
    justify-content: space-around;
    width: 60%;
    margin-top: -60px;
    height: 75px;
    z-index: 1;
    text-align: center;
}

.retry_icon p {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    padding-right: 5px;
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.popup-con {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    /* padding: 40px; */
    border-radius: 8px;
    background: linear-gradient(to bottom, #fbe4ff 0%, #fff 50%, #fff 100%);
    color: black;
    text-align: center;
    width: 100%;
}

.popup-con .claim-amount {
    padding: 10px 20px;
    background-image: linear-gradient(180deg, #28a745 0%, #28a745 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    border: 1px ridge #fff;
    text-transform: uppercase;
    width: 60%;
    z-index: 2;
}

.final_popup {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    /* justify-content: center; */
    justify-self: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    padding: 20px;
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    height: 116vh;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.timer-box {
    padding: 1px;
    background-color: #fffffff3 !important;
    color: #8d67ec;
    border-radius: 10px;
    text-align: center;
    min-width: 30px;
    background: rgba(255, 255, 255, 0.801);
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.568);
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.dots {
    margin-top: -20px;
    margin-bottom: 20px;
}

.claim-amount {
    padding: 10px 20px;
    background-image: linear-gradient(180deg, #28a745 0%, #28a745 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    border: 1px ridge #fff;
    text-transform: uppercase;
    width: 60%;
    z-index: 2;
    margin-top: -20px;
}


.time {
    text-align: center;
}

.time h2 {
    margin-bottom: 10px;
}

.steps {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 8px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(241, 241, 241, 0.74);
    width: 100%;
}

.steps h2 {
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    text-decoration: underline;
}

.steps p {
    font-size: 18px;
    padding-left: 30%;
    padding-bottom: 5px;
}

.steps span {
    font-weight: 700;
    padding-right: 10px;
}

.mt-10 {
    margin: 10px;
}


.mb-4 {
    margin-top: -50px;
}

.pulsate-bck {
    -webkit-animation: pulsate-bck 2s ease-in-out infinite both;
    animation: pulsate-bck 2s ease-in-out infinite both;
}

.p {
    margin-top: 0;
    /* margin-bottom: 1rem; */
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-21 11:50:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

canvas {
    width: 90%;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}

a {
    z-index: 2;
    width: 100%;
}

.marqee {
    background: rgba(0, 0, 0, 0.295);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    font-weight: 700;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.459);
    padding: 8px 10px;
    margin-top: 10px;
    height: 75px;
    overflow: hidden;
    width: 85%;
}

@media (min-width: 700px) {
    body {
        display: none !important;
    }
}

@media (min-width: 380px) {
    .popup-con {
        margin-top: 20%;
    }

    .marqee {
        margin-top: 10%;
    }

    .title{
        margin-top: 25px;
    }
}